/* 1-0-0 */
#heading {
  /* color: pink */
}

/* 0-1-1 */
h1.heading {
  color: orange;
}

/* 0-1-0 */
.heading {
  color: purple;
}



/* 0-0-1 */
h1 {
  color: red
}

/* 0-0-1 */
h1 {
  color: blue;
  color: green;
}

/* id-class-selector
0-0-0 */



/* 0-2-1 */
.news p.text {
  color: purple;
}

/* 0-1-1 */
.news p{
  color: red;
}

/* 0-2-0 */
.news .text {
  color: blue;
}

section.content p{
  color: yellow;
}

/* 0-4-3 */
/*  not good */
section.content .block span.links a.right {
  color: red;
}

/* good */
/* 0-2-1 */
section.content a.right {
  color: green;
}