.news {
  background-color: lightblue;
}

.news h2 {
  text-align: center;
}

.news img {}

.news p {
  font-size: 24px;
  color: orange;
}

.btns {
  background-color: lightgreen;
}

.btns__button, 
.blog__btn {
  font-size: 30px;
  font-weight: bold;
  color: darkgray;
}

/* .blog__btn {
  font-size: 30px;
  font-weight: bold;
  color: darkgray;
} */

.btns__button--danger,
.blog__btn--danger {
  background-color: red;
  color: white;
}

/* .blog__btn--danger {
  background-color: red;
  color: white;
} */

.btns__button--info {
  background-color: lightblue;
  color: darkblue;
}

.btns__button--warning {
  background-color: yellow;
  color: black
}



